.panel-container {
    /*background-color: #0F1114;*/
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.panel-container > .vkuiGroup__inner {
    background-color: #0F1114;
    border-radius: 0;
}

.panel-container > .Group__inner {
    background-color: #0F1114;
    border-radius: 0;
}

.vkuiSeparator__in--expanded {
    height: 0;
}


