.horizontal-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-align-content: stretch;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.image-container {
    order: 0;
    -webkit-flex: .3 1 auto;
    -ms-flex: .3 1 auto;
    flex: .3 1 auto;
}

.image {
    max-width: 200px;
}

.text-container {
    max-width: 470px;
    -ms-flex-order: 0;
    order: 0;
}

.name-text {
    font-size: 40px;
    text-transform: uppercase;
    line-height:45px;
}

description-text {
    font-size: 20px;
}

.skills-text {
    font-size: 20px;
}
